@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania twojego rządania.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID żądnia:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Tryb programisty</h3>
<p>
    Przełącz się na tryb <strong>programisty</strong> aby wyświetlić bardziej szczegółowe informacje o błędzie.
</p>
<p>
    <strong>Środowiska programisty nie powinno się włączać dla wdrożonych aplikacji.</strong>
    Może to skutkować wyświetleniem poufnych informacji u urzytkownikach końcowych.
    Dla debugowania lokalnego włącz tryb <strong>programisty</strong> ustawiając zmienną <strong>ASPNETCORE_ENVIRONMENT</strong> na tryb <strong>programisty</strong>
    oraz uruchom ponownie aplikacje.
</p>
