@{
    ViewData["Title"] = "O mnie";
}

<div class="text-center">
    <h1 class="display-4" , style="background-color:cornflowerblue; padding-top:10px; padding-bottom:15px">O mnie</h1>
</div>
<p style="padding-top:15px">To jest strona o mnie.</p>