@{
    ViewData["Title"] = "O mnie";
}

<div class="text-center">
    <h1 class="display-4" , style="background-color:cornflowerblue; padding-top:10px; padding-bottom:15px; border-radius:4px">O mnie</h1>
</div>

<div style="margin-top:20px">
    <div class="float-left">
        <img src="~/image/Sheldon.png" style="width:300px; height:270px" />
    </div>

    <div class="text-black-50" style="margin-left:310px">
        <h1>Podstawowe informacje</h1>
        <ul>
            <li><b>Imie: </b>Sheldon</li>
            <li><b>Nazwisko: </b>Cooper</li>
            <li><b>Data urodzenia: </b>26.02.1980</li>
            <li><b>Zawód: </b>Fizyk teoretyczny</li>
            <li><b>Tytuł naukowy: </b>Doktor</li>
        </ul>
    </div>
</div>

<div class="text-black-50" style="margin-top:120px">
    <h1>Życiorys</h1>
    <p>
        Urodziłem się wraz ze swoją siostrą bliźniaczką Missy 26 lutego 1980 roku w Kmart w Galveston w Teksasie jako dziecko George'a Coopera i Mary Cooper
        Mam starszego brata George Jr. Sheldon wychowywał się zgodnie z ewangelickimi chrześcijańskimi doktrynami swojej matki (tj. Ucząc się, jak się
        modlić i zostać współkapitanem drużyny Mistrzostw Holy Roller Bowling League Młodzieży Chrześcijańskiej Wschodniego Teksasu oraz dywizji dla dzieci w
        wieku od siedmiu do dwunastu lat). W międzyczasie był zmuszony oglądać piłkę nożną przez swojego ojca.
    </p>

    <h1>Rodzina</h1>
    <ul>
        <li>George Cooper Sr. (ojciec)</li>
        <li>Mary Cooper (matka)</li>
        <li>George Cooper Jr. (brat)</li>
        <li>Missy Cooper (siostra bliźniaczka)</li>
        <li>Amy Farrah Fowler (żona)</li>
    </ul>
</div>
