@{
    ViewData["Title"] = "Strona gówna";
}

<section class="headline">
    Strona główna
</section>  
  
<section class="text" style="text-align:center">
    To jest strona przygotowana na potrzeby zajeć z Programowania Zaawansowanego (Laboratorium 1).
</section>