@{
    ViewData["Title"] = "Strona gówna";
}

<div class="text-center">
    <h1 class="display-4" , style="background-color:cornflowerblue; padding-top:10px; padding-bottom:15px; border-radius:4px">Strona główna</h1>
    <p style="padding-top:15px">To jest strona przygotowana na potrzeby zajeć z Programowania Zaawansowanego (Laboratorium 1).</p>
</div>